<div class="flex items-center space-x-4 hover:bg-gray-300" (click)="onUserSelected()">
  <div class="flex-shrink-0">
    <img class="w-8 h-8 rounded-full" src="{{user?.picture}}" alt="Neil image">
  </div>
  <div class="flex-1 min-w-0">
    <p class="text-sm font-medium text-gray-900 truncate">
      @{{user?.username}}
    </p>
    <p class="text-sm text-gray-500 truncate">
      {{user?.fullname}}
    </p>
  </div>
  <div class="inline-flex items-center text-base font-semibold text-gray-900">
    {{user?.display_followers}}
  </div>
</div>
