<ng-container>
  <div class="flex items-center justify-between mb-4">
    <h5 class="text-xl font-bold leading-none text-blue-800">Search For Leads</h5>
    <a href="#" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-800">
      Clear Search
    </a>
  </div>

  <form [formGroup]="formGroup">
    <div class="flex items-center justify-between mb-12">
      <label for="user" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
      <div class="relative w-1/2">
        <input id="user" formControlName="user"
               class="block w-full py-2 pl-9 pr-3 text-sm placeholder-gray-500 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
               placeholder="Search" type="text" (keydown)="searchUser($event)"/>
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoading && totalItems >= 1" class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        <li *ngFor="let user of users; let i =index" class="py-3 sm:py-4">
          <app-search-user-item [user]="user" (userSelected)="onSelectedUser($event)"></app-search-user-item>
        </li>
      </ul>
    </div>
    <div *ngIf="isLoading" class="flex items-center justify-between mb-12 ">
      <div role="status" class="space-y-8 animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-center">
        <div class="flex items-center justify-center w-full h-28 bg-gray-300 rounded sm:w-96">
          <svg class="w-10 h-10 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
               fill="currentColor" viewBox="0 0 20 18">
            <path
              d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
          </svg>
        </div>
        <div class="w-full">
          <div class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></div>
          <div class="h-2 bg-gray-200 rounded-full max-w-[480px] mb-2.5"></div>
          <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
          <div class="h-2 bg-gray-200 rounded-full max-w-[440px] mb-2.5"></div>
          <div class="h-2 bg-gray-200 rounded-full max-w-[460px] mb-2.5"></div>
          <div class="h-2 bg-gray-200 rounded-full max-w-[360px]"></div>
        </div>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </form>
</ng-container>
